html,
body {
  width: 100%;
  height: 100%;
}
header {
  /* margin: 0 10%; */
  border-bottom: solid;
  padding-bottom: 20px;
  border-bottom-color: gray;
  border-bottom-style: inset;
  border-bottom-width: 20px;
}
main {
  /* margin: 0 10%;  */
  margin-top: 40px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
header:after {
  content: '';
  clear: both;
  display: block;
}
li {
  display: inline-block;
}
.img {
  width: 100%;
}
.margin-ul {
  margin: 0 15px;
}

.margin-head {
  margin-top: 30px;
}
.h1 {
  margin: 5px 5px;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
}
.p-margin {
  margin: 25px 0;
  line-height: 25px;
  font-size: 18px;
}

.main-p {
  font-size: 18px;
  color: grey;
}
.h2 {
  font-size: 40px;
  font-weight: bolder;
  font-family: fantasy;
  padding-bottom: 10px;
}

.p {
  display: inline-block;
  color: grey;
}

.posti {
  position: relative;
  bottom: 25px;
}

.h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
}
.h5{
  font-size: 11px;
  color: gray;
}
.up{
  position: relative;
  top: -6px;
  left: 6px;  
  
}
nav{
  margin-top: 52px;
}
#allbody {
    width: 800px;
    line-height: 1;
    margin-left: auto;
    margin: auto;
}
footer {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
#mainimg{
    float: left;
    padding: 20px;
    
}
#name{
    padding: 23px;
}
#name h5{
    font-family: sans-serif;
    margin: 2px;
    padding: 2px;
}
#name p{
    width: fit-content;
    padding: 9px;
    margin: -6px;
}
#a-link{

    padding: 14px;
    background-color: rgb(221, 140, 33);
    color: white;
    text-decoration: none;
    position: absolute;
    right: 265px;
    margin-top: -48px;
}

#img2{
font-family: sans-serif;
margin : 40px auto;
text-align: center;
font-size: 40px;
position:relative;
clear :both;
}
#img2::before{
    content: "";
    display: block;
    width: 360px;
    height: 0.5px;
    background: gray;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}
#img2::after{
    content: "";
display:block;
width: 360px;
height:0.5px;
background: gray;
position: absolute;
right: 0;
top: 50%;
z-index: -2;
}
#lastdiv{    
     text-align: -webkit-center;
}
#check1{
    float: left;
    padding: 0px 215px 0px 50px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  
text-decoration-line: line-through ;
}
#form{
    padding: 34px;
    background-size: cover;
    background-image: url(../img/list-bg.png);
  
}

#HR{
    border-top: 5px groove;
    color: gray;
    margin: 25px;
    padding: 0px;
}

  
  

  